{
  "jsxBracketSameLine": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "semi": true,
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
